.groselem {
    text-align: center;
    margin: auto; 
    margin-top: 5em;
}

.titreExt{
    font-size: 5em;
    letter-spacing: 0.7em;
    line-height: 2em;
    color: rgb(39, 39, 39); 
}

.spanExt { 
    animation: fadeout 0.7s;
    opacity: 0.2;
   }
   @keyframes fadeout
   {
   
   from{opacity: 1;}
   to {opacity: 0.2;}
   
   }
