.globalElem {
    position:relative;
   width: 100%;
   height: 100%;
}

.textBox {
    z-index: 10;
    position: absolute; 
    top: 17%;
    left: 4%; 
    
}

.extElem {
    text-align: center;
    margin: auto; 
    margin-top: 5em;
    z-index: 1;
}

.titreExt{
    font-size: 5em;
    letter-spacing: 0.7em;
    line-height: 2em;
    color: rgb(39, 39, 39); 
}

.textExt {
 position: relative;
 animation: bougetext 0.7s;
}
@keyframes bougetext {
    from {top: -10vh;}
    to {top: 0;}
}
.textExt1 {
    position: relative;
    animation: bougetext1 0.7s;
}
@keyframes bougetext1 {
    from {right: 10vh}
    to {right:0;}
    
}
.textExt2 {
    position: relative;
    animation: bougetext2 1s;
}
@keyframes bougetext2 {
    from {right: 15vh}
    to {right:0;}
}
.textExt3 {
    position: relative;
    animation: bougetext3 1s;
}
@keyframes bougetext3 {
    from {right: 20vh}
    to {right:0;} 
}
.textExt4 {
    position: relative;
    animation: bougetext4 0.7s;
   }
   @keyframes bougetext4 {
       from {bottom: -5vh;}
       to {bottom: 0;}}


.devel, .photo, .langue, .restauration, .blogging {
    animation: apparitionText 0.7s;
    background-color:rgb(184, 184, 184,0.2);
    border: 2px solid rgba(150, 150, 150, 0.5);
    border-radius: 20px;
    padding: 0.7rem;
    font-size: 1.1em;
    }
    @keyframes apparitionText {
         from {opacity: 0;}
         to {opacity: 1;}
}

.spanExt { 
    animation: jeffvan 0.7s;
    opacity: 0.1;
   }
   @keyframes jeffvan
   {   
   from {opacity: 1;}
   to {opacity: 0.1;}
}

.titreText { 
    font-weight: bolder;
    color:rgb(71, 71, 71)
}



